//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 18 09:27:09 2019
//! **************************************************************************

SCHEMATIC START;
COMP "seg_data<0>" LOCATE = SITE "C7" LEVEL 1;
COMP "seg_data<1>" LOCATE = SITE "E6" LEVEL 1;
COMP "seg_data<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "seg_data<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "seg_data<4>" LOCATE = SITE "D6" LEVEL 1;
COMP "seg_data<5>" LOCATE = SITE "E7" LEVEL 1;
COMP "seg_data<6>" LOCATE = SITE "D5" LEVEL 1;
COMP "seg_data<7>" LOCATE = SITE "C6" LEVEL 1;
COMP "seg_sel<0>" LOCATE = SITE "D9" LEVEL 1;
COMP "seg_sel<1>" LOCATE = SITE "E10" LEVEL 1;
COMP "seg_sel<2>" LOCATE = SITE "F10" LEVEL 1;
COMP "seg_sel<3>" LOCATE = SITE "F9" LEVEL 1;
COMP "seg_sel<4>" LOCATE = SITE "E8" LEVEL 1;
COMP "seg_sel<5>" LOCATE = SITE "D8" LEVEL 1;
COMP "Red" LOCATE = SITE "K16" LEVEL 1;
COMP "clk" LOCATE = SITE "T8" LEVEL 1;
COMP "LED1" LOCATE = SITE "P4" LEVEL 1;
COMP "LED2" LOCATE = SITE "N5" LEVEL 1;
COMP "LED3" LOCATE = SITE "P5" LEVEL 1;
COMP "Blue" LOCATE = SITE "M15" LEVEL 1;
COMP "key1" LOCATE = SITE "C3" LEVEL 1;
COMP "key2" LOCATE = SITE "D3" LEVEL 1;
COMP "key3" LOCATE = SITE "E4" LEVEL 1;
COMP "key4" LOCATE = SITE "E3" LEVEL 1;
COMP "Green" LOCATE = SITE "L16" LEVEL 1;
COMP "rst_n" LOCATE = SITE "L3" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "PM_Mode" BEL "led2_pwm_0" BEL "led2_pwm_1" BEL
        "led2_pwm_2" BEL "led2_pwm_3" BEL "led2_pwm_4" BEL "led3_pwm_0" BEL
        "led3_pwm_1" BEL "led3_pwm_2" BEL "led3_pwm_3" BEL "led3_pwm_4" BEL
        "led1_pwm_0" BEL "led1_pwm_1" BEL "led1_pwm_2" BEL "led1_pwm_3" BEL
        "led1_pwm_4" BEL "LED_U3/led" BEL "LED_U2/led" BEL "LED_U1/led" BEL
        "LED_U3/clk_cnt_0" BEL "LED_U3/clk_cnt_1" BEL "LED_U3/clk_cnt_2" BEL
        "LED_U3/clk_cnt_3" BEL "LED_U3/clk_cnt_4" BEL "LED_U3/clk_cnt_5" BEL
        "LED_U3/clk_cnt_6" BEL "LED_U3/clk_cnt_7" BEL "LED_U3/clk_cnt_8" BEL
        "LED_U3/clk_cnt_9" BEL "LED_U3/clk_cnt_10" BEL "LED_U3/clk_cnt_11" BEL
        "LED_U3/clk_cnt_12" BEL "LED_U3/clk_cnt_13" BEL "LED_U3/clk_cnt_14"
        BEL "SEG_Scan/scan_timer_15" BEL "SEG_Scan/scan_timer_14" BEL
        "SEG_Scan/scan_timer_13" BEL "SEG_Scan/scan_timer_12" BEL
        "SEG_Scan/scan_timer_11" BEL "SEG_Scan/scan_timer_10" BEL
        "SEG_Scan/scan_timer_9" BEL "SEG_Scan/scan_timer_8" BEL
        "SEG_Scan/scan_timer_7" BEL "SEG_Scan/scan_timer_6" BEL
        "SEG_Scan/scan_timer_5" BEL "SEG_Scan/scan_timer_4" BEL
        "SEG_Scan/scan_timer_3" BEL "SEG_Scan/scan_timer_2" BEL
        "SEG_Scan/scan_timer_1" BEL "SEG_Scan/scan_timer_0" BEL
        "SEG_Scan/scan_sel_2" BEL "SEG_Scan/scan_sel_1" BEL
        "SEG_Scan/scan_sel_0" BEL "SEG_Scan/seg_sel_5" BEL
        "SEG_Scan/seg_sel_4" BEL "SEG_Scan/seg_sel_3" BEL "SEG_Scan/seg_sel_2"
        BEL "SEG_Scan/seg_sel_1" BEL "SEG_Scan/seg_sel_0" BEL
        "SEG_Scan/seg_data_6" BEL "SEG_Scan/seg_data_5" BEL
        "SEG_Scan/seg_data_4" BEL "SEG_Scan/seg_data_3" BEL
        "SEG_Scan/seg_data_2" BEL "SEG_Scan/seg_data_1" BEL
        "SEG_Scan/seg_data_0" BEL "KEY_Debounce_3/button_out_d0" BEL
        "KEY_Debounce_3/button_out" BEL "KEY_Debounce_3/DFF2" BEL
        "KEY_Debounce_3/DFF1" BEL "KEY_Debounce_3/button_negedge" BEL
        "KEY_Debounce_3/q_reg_19" BEL "KEY_Debounce_3/q_reg_18" BEL
        "KEY_Debounce_3/q_reg_17" BEL "KEY_Debounce_3/q_reg_16" BEL
        "KEY_Debounce_3/q_reg_15" BEL "KEY_Debounce_3/q_reg_14" BEL
        "KEY_Debounce_3/q_reg_13" BEL "KEY_Debounce_3/q_reg_12" BEL
        "KEY_Debounce_3/q_reg_11" BEL "KEY_Debounce_3/q_reg_10" BEL
        "KEY_Debounce_3/q_reg_9" BEL "KEY_Debounce_3/q_reg_8" BEL
        "KEY_Debounce_3/q_reg_7" BEL "KEY_Debounce_3/q_reg_6" BEL
        "KEY_Debounce_3/q_reg_5" BEL "KEY_Debounce_3/q_reg_4" BEL
        "KEY_Debounce_3/q_reg_3" BEL "KEY_Debounce_3/q_reg_2" BEL
        "KEY_Debounce_3/q_reg_1" BEL "KEY_Debounce_3/q_reg_0" BEL
        "KEY_Debounce_2/button_out_d0" BEL "KEY_Debounce_2/button_out" BEL
        "KEY_Debounce_2/DFF2" BEL "KEY_Debounce_2/DFF1" BEL
        "KEY_Debounce_2/button_negedge" BEL "KEY_Debounce_2/q_reg_19" BEL
        "KEY_Debounce_2/q_reg_18" BEL "KEY_Debounce_2/q_reg_17" BEL
        "KEY_Debounce_2/q_reg_16" BEL "KEY_Debounce_2/q_reg_15" BEL
        "KEY_Debounce_2/q_reg_14" BEL "KEY_Debounce_2/q_reg_13" BEL
        "KEY_Debounce_2/q_reg_12" BEL "KEY_Debounce_2/q_reg_11" BEL
        "KEY_Debounce_2/q_reg_10" BEL "KEY_Debounce_2/q_reg_9" BEL
        "KEY_Debounce_2/q_reg_8" BEL "KEY_Debounce_2/q_reg_7" BEL
        "KEY_Debounce_2/q_reg_6" BEL "KEY_Debounce_2/q_reg_5" BEL
        "KEY_Debounce_2/q_reg_4" BEL "KEY_Debounce_2/q_reg_3" BEL
        "KEY_Debounce_2/q_reg_2" BEL "KEY_Debounce_2/q_reg_1" BEL
        "KEY_Debounce_2/q_reg_0" BEL "KEY_Debounce_1/button_out_d0" BEL
        "KEY_Debounce_1/button_out" BEL "KEY_Debounce_1/DFF2" BEL
        "KEY_Debounce_1/DFF1" BEL "KEY_Debounce_1/button_negedge" BEL
        "KEY_Debounce_1/q_reg_19" BEL "KEY_Debounce_1/q_reg_18" BEL
        "KEY_Debounce_1/q_reg_17" BEL "KEY_Debounce_1/q_reg_16" BEL
        "KEY_Debounce_1/q_reg_15" BEL "KEY_Debounce_1/q_reg_14" BEL
        "KEY_Debounce_1/q_reg_13" BEL "KEY_Debounce_1/q_reg_12" BEL
        "KEY_Debounce_1/q_reg_11" BEL "KEY_Debounce_1/q_reg_10" BEL
        "KEY_Debounce_1/q_reg_9" BEL "KEY_Debounce_1/q_reg_8" BEL
        "KEY_Debounce_1/q_reg_7" BEL "KEY_Debounce_1/q_reg_6" BEL
        "KEY_Debounce_1/q_reg_5" BEL "KEY_Debounce_1/q_reg_4" BEL
        "KEY_Debounce_1/q_reg_3" BEL "KEY_Debounce_1/q_reg_2" BEL
        "KEY_Debounce_1/q_reg_1" BEL "KEY_Debounce_1/q_reg_0" BEL
        "KEY_Debounce_0/button_out_d0" BEL "KEY_Debounce_0/button_out" BEL
        "KEY_Debounce_0/DFF2" BEL "KEY_Debounce_0/DFF1" BEL
        "KEY_Debounce_0/button_negedge" BEL "KEY_Debounce_0/q_reg_19" BEL
        "KEY_Debounce_0/q_reg_18" BEL "KEY_Debounce_0/q_reg_17" BEL
        "KEY_Debounce_0/q_reg_16" BEL "KEY_Debounce_0/q_reg_15" BEL
        "KEY_Debounce_0/q_reg_14" BEL "KEY_Debounce_0/q_reg_13" BEL
        "KEY_Debounce_0/q_reg_12" BEL "KEY_Debounce_0/q_reg_11" BEL
        "KEY_Debounce_0/q_reg_10" BEL "KEY_Debounce_0/q_reg_9" BEL
        "KEY_Debounce_0/q_reg_8" BEL "KEY_Debounce_0/q_reg_7" BEL
        "KEY_Debounce_0/q_reg_6" BEL "KEY_Debounce_0/q_reg_5" BEL
        "KEY_Debounce_0/q_reg_4" BEL "KEY_Debounce_0/q_reg_3" BEL
        "KEY_Debounce_0/q_reg_2" BEL "KEY_Debounce_0/q_reg_1" BEL
        "KEY_Debounce_0/q_reg_0" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 50 MHz HIGH 50%;
SCHEMATIC END;

