NET "clk" LOC = T8 | TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000kHz;

##
NET rst_n	LOC = L3 | IOSTANDARD = "LVCMOS33"; ## reset pushbutton
##

#########LED Pin define##########
NET Square	LOC = P4 | IOSTANDARD = "LVCMOS33"; ##LED1
########smg interface Pin define##################### 
NET seg_data<0>             LOC = C7 | IOSTANDARD = "LVCMOS33";           ##  
NET seg_data<1>             LOC = E6 | IOSTANDARD = "LVCMOS33";           ##  
NET seg_data<2>             LOC = C5 | IOSTANDARD = "LVCMOS33";           ##  
NET seg_data<3>             LOC = F7 | IOSTANDARD = "LVCMOS33";           ##  
NET seg_data<4>             LOC = D6 | IOSTANDARD = "LVCMOS33";           ## 
NET seg_data<5>             LOC = E7 | IOSTANDARD = "LVCMOS33";           ## 
NET seg_data<6>             LOC = D5 | IOSTANDARD = "LVCMOS33";           ## 
NET seg_data<7>             LOC = C6 | IOSTANDARD = "LVCMOS33";           ## 

NET seg_sel<0>              LOC = D9 | IOSTANDARD = "LVCMOS33";           ##  
NET seg_sel<1>              LOC = E10 | IOSTANDARD = "LVCMOS33";           ##  
NET seg_sel<2>              LOC = F10 | IOSTANDARD = "LVCMOS33";           ## 
NET seg_sel<3>              LOC = F9 | IOSTANDARD = "LVCMOS33";           ## 
NET seg_sel<4>              LOC = E8 | IOSTANDARD = "LVCMOS33";           ## 
NET seg_sel<5>              LOC = D8 | IOSTANDARD = "LVCMOS33";           ## 
##################################################################################
#KEY Pin define
##################################################################################
NET key1                LOC = C3 | IOSTANDARD = "LVCMOS33";       ## KEY1
NET key2                LOC = D3 | IOSTANDARD = "LVCMOS33";       ## KEY2
NET key3                LOC = E4 | IOSTANDARD = "LVCMOS33";       ## KEY3
NET key4                LOC = E3 | IOSTANDARD = "LVCMOS33";       ## KEY4
