NET "sys_clk" LOC = T8 | TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

##
NET rst_n                  LOC = L3  | IOSTANDARD = "LVCMOS33";           ## reset pushbutton
##
NET clk_fx                  LOC = K16 | IOSTANDARD = "LVCMOS33";     ## CLK_FX_INPUT
#NET clk_out                LOC = L16 | IOSTANDARD = "LVCMOS33";          ## CLK_FX_OUTPUT
##################################################################################
#SPI Pin define
##################################################################################
NET SCK                 LOC = H16 | IOSTANDARD = "LVCMOS33";       ## SCK
#NET MOSI                LOC = G16 | IOSTANDARD = "LVCMOS33";       ## MOSI
NET MISO                LOC = F15 | IOSTANDARD = "LVCMOS33";       ## MISO
NET nCS                 LOC = D11 | IOSTANDARD = "LVCMOS33";       ## SS

NET "clk_fx" CLOCK_DEDICATED_ROUTE = FALSE;
NET SCK_2               LOC = E11 | IOSTANDARD = "LVCMOS33";       ## MOSI
NET MISO_2              LOC = E15 | IOSTANDARD = "LVCMOS33";       ## MOSI
NET nCS_2               LOC = C16 | IOSTANDARD = "LVCMOS33";       ## MOSI